/* ===VARIABLES=== */
/* ===DEFAULT=== */
* {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif !important;
  direction: ltr;
}
/* Base */
.pwr-orb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  min-width: 310px;
  max-width: 310px;
  min-height: 310px;
  max-height: 310px;
  position: relative;
  margin: 10px;
}
.pwr-orb h1 {
  margin: 0 auto;
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  width: 85%;
}
.pwr-orb .pwr-orb-desc {
  width: 85%;
  margin: 0 auto;
}
.pwr-orb .pwr-orb-desc p a {
  margin-top: 2em;
}
.pwr-orb .pwr-orb-desc ul {
  visibility: hidden;
  position: absolute;
  width: 100%;
  bottom: 1em;
  left: 0;
}
.pwr-orb .pwr-orb-desc a {
  margin-bottom: 1em;
  width: 50%;
}
.pwr-orb:hover div.pwr-orb-desc p {
  visibility: hidden;
}
.pwr-orb:hover div.pwr-orb-desc ul {
  visibility: visible;
}
/* Multiple Orbs */
.orbs-1 .pwr-orb,
.orbs-2 .pwr-orb,
.orbs-3 .pwr-orb,
.orbs-4 .pwr-orb {
  display: inline-block;
  margin-left: -10px;
  margin-right: -10px;
}
/* Light */
.pwr-orb.pwr-orb-light div.pwr-orb-desc p a,
.pwr-orb.pwr-orb-light div.pwr-orb-desc ul a {
  color: #fff;
  background-color: rgba(171, 25, 42, 0.9);
  border-color: #951625;
}
/* Primary */
.pwr-orb.pwr-orb-primary {
  background-color: rgba(171, 25, 42, 0.9);
  color: #ffffff;
}
/* Dark */
.pwr-orb.pwr-orb-dark {
  background-color: rgba(51, 51, 51, 0.9);
  color: #ffffff;
}
